.imageContainer{
  width: 100%;
  height: 34rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 5rem;

  background-image: url('../../assets/images/wallpaper.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.imageText{
  display:flex;
  flex-direction: column;
  position: absolute;
  top: 19rem;
  left: 6rem;
}

.title{
  font-weight: 700;
  font-size: 2.13rem;
  color: #F9F9F9;
  margin-bottom: 2rem;
}

.titleDescription{
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2.35rem;
  color: #F9F9F9;

  width: 460px;
}

@media (max-width:581px){
  .imageText{
    left: 1;
  }

  .titleDescription{
    width: 357px;
  }
}

@media (max-width:517px){
  .imageText{
    left: 15%;
  }
  .title{
    font-size: 28px;
  }

  .titleDescription{
    font-size: 16px;
    width: 357px;
  }
}

@media (max-width:414px){
  .imageText{
    left: 12%;
  }
}