@media (max-width:581px){
  .imageText{
    left: 1;
  }

  .titleDescription{
    width: 357px;
    
  }
}

@media (max-width:517px){
  .imageText{
    left: 15%;
  }
  .title{
    font-size: 28px;
  }

  .titleDescription{
    font-size: 16px;
    width: 357px;
  }
}

@media (max-width:414px){
  .imageText{
    left: 12%;
  }
}